interactions:
- request:
    body: null
    headers:
      Acccept: [application/vnd.marketdatawizards.v1+json]
      Authentication: [test]
    method: GET
    uri: https://marketdata.cloud/api/prices/US0378331005.NASDAQ
  response:
    body: {string: !!python/unicode '{"currency":"USD","interval":"day","name":"Apple
        Inc","prices":[{"date":"2018-01-05T00:00:00Z","open":"13.1","high":"15.9","low":"13.5","close":"15","volume":"722474"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
